body {
    background-color: black;
    /* display: flex;
    align-items: center;
    justify-content: center; */
}

.container {
    width: 658px;
    height: 634px;
    display: inline-flex;
    padding: 40px 64px;
    box-sizing: border-box;
    flex-direction: column;
    align-items: flex-start;
    gap: 64px;
    border-radius: 12px;
    background: var(--Neutral-50, #FFF);
}

.finkraftFrame {
    display: inline-flex;
    /* padding: 40px 64px; */
    flex-direction: column;
    align-items: flex-start;
    gap: 13px;
    border-radius: 12px;
    background: var(--Neutral-50, #FFF);
}

.finkraftImage {
    width: 122.771px;
    height: 31.791px;
    flex-shrink: 0;
}

.XIcon {
    width: 24px;
    height: 24px;
    position: absolute;
    right: 52px;
    top: 46px;
    left: 583px
}

.bodySection {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 48px;
    align-self: stretch;
}

.centre {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    align-self: stretch;
}

.imageFrame {
    display: flex;
    padding: 20px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border-radius: 102px;
    background: var(--Primary-Blue-50, #F0F6FE);
}

.Text {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* gap: 8px; */


}

.emailConfirmText {
    color: var(--Neutral-950, #212121);
    /* Regular Head/Regular H6 */
    font-family: "Noto Sans";
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.clickBelowText {
    color: var(--Neutral-700, #72747D);
    /* Regular Head/Regular H1 */
    font-family: "Noto Sans";
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.buttonLinks {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 28px;
    align-self: stretch;
    width: 530px;
    height: 156px;

}



.button {
    display: flex;
    width: 100%;
    height: 56px;
    padding: 16px 20px;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    /* gap: 48px; */
    /* margin-top: 48px; */
    /* flex: 1 0 0; */
    border-radius: 12px;
    background: var(--Primary-Blue-700, #2355D2);
}

.buttonText {
    color: var(--Neutral-50, #FFF);
    font-family: "Noto Sans";
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 0;
}

.clickBelowLine {
    display: flex;
    align-items: center;
    /* gap: 11px; */
    align-self: stretch;
    justify-content: center;
    /* margin-top: 28px; */
}





.link {
    color: var(--Primary-Blue-700, #2355D2);

    font-family: "Noto Sans";
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 0;
}